<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BranchLinkSimulator"
        tools:targetApi="31"
        android:name="io.branch.branchlinksimulator.BranchLinkSimulatorApplication"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BranchLinkSimulator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="branchlinksimulator" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->

            <!-- Live Prod App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="prod-freedom.branchcustom.xyz" />
                <data android:scheme="https" android:host="prod-freedom.app.link" />
                <data android:scheme="https" android:host="prod-freedom-alternate.app.link" />
            </intent-filter>

            <!-- Test Prod App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="prod-freedom.test-app.link" />
                <data android:scheme="https" android:host="prod-freedom-alternate.test-app.link" />
            </intent-filter>

            <!-- Live Prod Link Shortener App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="hop.link" />
                <data android:scheme="https" android:host="r3dfg.app.link" />
                <data android:scheme="https" android:host="r3dfg-alternate.app.link" />
            </intent-filter>

            <!-- Live Prod AC App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="prod-ac-sandbox.app.link" />
                <data android:scheme="https" android:host="prod-ac-sandbox-alternate.app.link" />
            </intent-filter>

            <!-- Test Prod AC App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="prod-ac-sandbox.test-app.link" />
                <data android:scheme="https" android:host="prod-ac-sandbox-alternate.test-app.link" />
            </intent-filter>

            <!-- Live Stage App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="stage-freedom.branchcustom.xyz" />
                <data android:scheme="https" android:host="stage-freedom.branchbeta.link" />
                <data android:scheme="https" android:host="stage-freedom-alternate.branchbeta.link" />
            </intent-filter>

            <!-- Test Stage App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="stage-freedom.test-branchbeta.link" />
                <data android:scheme="https" android:host="stage-freedom-alternate.test-branchbeta.link" />
            </intent-filter>

            <!-- Live Stage Link Shortener App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="hoplink.branchcustom.xyz" />
                <data android:scheme="https" android:host="skhsg.branchbeta.link" />
                <data android:scheme="https" android:host="skhsg-alternate.branchbeta.link" />
            </intent-filter>

            <!-- Live Stage AC App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="stage-ac-sandbox.branchbeta.link" />
                <data android:scheme="https" android:host="stage-ac-sandbox-alternate.branchbeta.link" />
            </intent-filter>

            <!-- Test Stage AC App -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="stage-ac-sandbox.test-branchbeta.link" />
                <data android:scheme="https" android:host="stage-ac-sandbox-alternate.test-branchbeta.link" />
            </intent-filter>
        </activity>
        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_hshD4wiPK2sSxfkZqkH30ggmyBfmGmD7" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_cFaqWupQV4BTCgpXFkQY1jgiAFggSdPl" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>

</manifest>